# General --------------------------------------------------------------

pvt/

# R specific -----------------------------------------------------------

# History
.Rhistory
.Rapp.history

# RStudio
.Rproj.user/

# cached Rmarkdown
*_cache

# VScode ---------------------------------------------------------------

.vscode
